@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  /* --foreground: #000000; */
  --background: #ebebeb;
}

/* Dark mode */
html.dark {
  /* --foreground: #ffffff; */
  --background: #121212;
}

body {
  color: var(--foreground);
  background: var(--background);
}
